.main {
  font-size: 25px;
  margin: 40px;
}
.font {
  font-family: "Lato", sans-serif;
}
.main-header {
  font-size: 25px;
  padding-bottom: 40px;
}
.sub-header {
  font-size: 20px;
  margin-bottom: 20px;
  margin-top: 10px;
}
.list {
  font-size: 16px;
  padding-bottom: 10px;
}
