<main class="font main">
    <h1 class="main-header">Returns & Exchanges</h1>
    <h3 class="sub-header">SALE ITEMS</h3>

    <li class="list">Items marked as 'sale' are inded final. No returns or exchanges.</li>

    <h3 class="sub-header">RETURNS</h3>

    <li class="list">Full refunds will be given on merchandise returned in new, unworn condition up to 7 days.
    </li>
    <li class="list">After 7 days, but before 30 days we will issue a store credit.
    </li>
    <li class="list">Items are no longer eligible for return after 30 days of purchase and are considered final sale.
    </li>
    <li class="list">Refunds are credited to the original form of payment.
    </li>
    <li class="list">If a return is initiated within the 30-day return period. Email us at Contact@Articlemenswear.com, and we'll send you a prepaid return label.
    </li>

    <h3 class="sub-header">EXCHANGES</h3>
    <li class="list">Merchandise returned in new, unworn condition may be exchanged for store credit within 30 days of purchase.
    </li>
    <li class="list">Items are no longer eligible for return or exchange after 30 days of purchase and are considered final sale.
    </li>
    <li class="list">Any fees associated with shipping will not be refunded.
    </li>

</main>
