.cart-header {
    font-family: "Lato", sans-serif;
    margin-left: 20px;
    margin-top: 20px;
    font-size: 25px;
}

.item-cart-container {
    display: flex;
    justify-content: space-around;
    border: solid;
    border-width: 1px;
    margin: 20px;
    font-family: 'Lato', sans-serif;
    position: relative;
}

.cart-image-container {
    width: 150px;
}

.cart-image {
    width: 100%;
    padding: 10px 10px;
}

.cart-item-name-container {
    display: flex;
    align-items: center;
    width: 300px;
}

.cart-item-name {
    font-size: 15px;
}

.cart-qty-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    padding-top: 40px;
    padding-bottom: 35px;
}

.cart-qty-title {}

.item-qty {
    border: solid 1px;
    padding: 10px;
}

.item-total-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    padding-top: 30px;
    padding-bottom: 30px;
}

.item-total-title {}

.item-total {}


/*.remove-item-container {
  position: relative;;
}*/

.remove-item {
    position: absolute;
    top: 10px;
    right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
}

.checkout-container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 40px;
    font-family: "Lato", sans-serif;
}

.notes-container {}

.notes-title {
    margin-top: 5px;
    margin-bottom: 5px;
}

.notes-text {}

.subtotal-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
}

.buttons-container {}

.check-out-button {
    font-size: 15px;
    font-family: "Lato", sans-serif;
    color: black;
    background: white;
    border: solid 1px;
    margin-top: 15px;
    /*width: 150px;*/
}

.update-button {
    font-size: 15px;
    font-family: "Lato", sans-serif;
    color: black;
    background: white;
    border: solid 1px;
}

.subtotal {
  margin: 10px 0px;
}

.outer-container {
    display: flex;
    justify-content: space-around;
    font-family: 'Lato', sans-serif;
}

.present {
  background: url('http://www.freeiconspng.com/uploads/gift-box-icon-1.png') no-repeat center;
  background-size: cover;
  position: absolute;
  width: 20px;
  height: 20px;
  top: 0px;
  right: 19px;
  animation: dropin 3s;
  display: none;
}

@keyframes dropin {
  50% {
    transform: scale(.9);
    transform-origin: 0px 200px;
  }

  99% {
    transform: scale(.9);
    transform-origin: 0px 200px;
  }
  100% {
    transform: scale(0);
  }
}

.details-left-container {
    width: 35%;
}

.details-name {
    font-size: 35px;
    margin-top: 50px;
    padding-bottom: 10px;
}



.details-brand {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
}

.details-price {
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}


.qty-menu {
    padding-top: 10px;
    margin-right: 5px;
}

.details-qty-button {
    margin-top: 20px;
}

.add-to-cart-button {
    font-size: 15px;
    font-family: "Lato", sans-serif;
    color: black;
    background: white;
    border: solid 1px;
}

.add-to-cart-button:focus {
    outline: none;
}

.h6-container {
    margin-top: 20px;
}

.h6 {
    padding-top: 5px;
    padding-bottom: 5px;
}

.details-right-container {
    width: 35%;
}

.details-image {
    margin-top: 50px;
}

/*@keyframes photo {

  50% {
    transform-origin: 512px -190px;
    transform: scale(.02);
  }
  80% {
    transform-origin: 512px -173px;
    transform: scale(.02);
  }
  100% {
    transform: scale(0px);
  }

}*/

.details-bottom-container {
    display: flex;
    justify-content: center;
}

.details-bottom-button {
    width: 180px;
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 15px;
    font-family: 'Lato', sans-serif;
    border-style: solid;
    border-width: 1px;
}

.hidden-div {
    width: 350px;
    position: fixed;
    top: 170px;
    right: 0px;
    background: white;
    border: solid 1px;
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: "Lato", sans-serif;
    animation: pulse 1s;
}

@keyframes pulse {
  0% {
    background-color: #FF4136;
  }
  100% {
    background-color: white;
  }
}

.hidden-cart-image {
    width: 50px;
    height: 50px;
}

.hidden-image-container {
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
}

.hidden-name {
  font-size: 15px;
    margin: 10px;
}

.hidden-div-checkout {
    border: solid 1px;
    padding: 3px;
}

.hidden-div-close {
  padding: 0px;
  margin: 0px;
  position: absolute;
  top: 5px;
  right: 10px;

}

.home-background {
  width: 100%;
}

@import 'https://fonts.googleapis.com/css?family=Lato';
.nav-container {
    width: 100%;
    font-family: 'Lato', sans-serif;
    color: white;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

/*.clock {
    background: url('http://www.clipartbest.com/cliparts/9Tp/RBE/9TpRBEqTE.png') no-repeat center;
    width: 25px;
    height: 25px;
    position: absolute;
    ;
    top: 10px;
    left: 10px;
    background-size: contain;
}*/

/*@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}*/

.cart-icon {
    width: 35px;
    height: 35px;
    background: url('http://devstore42.cloudapp.net/images/cart_icon.png')center no-repeat;
    background-size: cover;
    position: absolute;
    top: 15px;
    right: 15px;
}

.cart-counter {
    position: absolute;
    top: 30px;
    right: 55px;
}

.outer-title-container {
    display: flex;
    align-items: center;
}

.title-container {
    font-size: 90px;
    padding: 10px;
    margin: 0px 10px;
}

.title-container a {
    color: white;
    text-decoration: none;
}

.header-link-container {
    display: flex;
}

.link-container {
    font-size: 15px;
    padding-bottom: 10px;
    color: white;
    text-decoration: none;
    margin: 5px 20px;
}

.link-container:hover {
    transform: scale(1.2);
}

.link-container a {
    color: white;
    text-decoration: none;
}

.brand-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 300px;
    margin-top: 30px;
}

.brands {
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 20px;
}

.departments-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 200px;
    margin-top: 30px;
}

.footer {
    color: white;
    background: black;
    font-family: 'Lato', sans-serif;
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
    padding-bottom: 20px;
    margin-top: -3px;
}

.footer-info-links {
    padding-bottom: 3px;
}

.footer-style {
    padding-bottom: 10px;
}

.footer-input {
    height: 25px;
    padding-top: 0px
}

.footer-button {
    border: solid 1px;
    background: black;
    color: white;
    width: 80px;
    height: 25px;
}

.footer-button:focus {
    outline: none;
}

.hidden-email-message {
    position: fixed;
    bottom: 200px;
    right: 0px;
    border: solid 1px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px;
    background: black;
}


/*.close-email {
  position: fixed;
    color: white;
    bottom: 285px;
    right: 12px;
}*/

.email-popup {
    font-size: 22px;
}

.social-outer-container {
  display: flex;
  flex-direction: column;
}

.follow {
  margin-bottom: 10px;
}

.social-media-container {
    display: flex;
    justify-content: space-between;
}

.twitter {
    background: url('http://it.nmu.edu/sites/default/files/images/Twt.png') center no-repeat;
    width: 50px;
    height: 50px;
    background-size: contain;
}

.facebook {
    background: url('http://www.freeiconspng.com/uploads/social-facebook-button-blue-icon--social-bookmark-iconset--yootheme-6.png') center no-repeat;
    width: 50px;
    height: 50px;
    background-size: contain;
    margin: 0px 10px;
}

.youtube {
    background: url('http://www.freeiconspng.com/uploads/youtube-icon-app-logo-png-9.png') center no-repeat;
    width: 50px;
    height: 50px;
    background-size: contain;
}

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}

* {
    box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

.main {
  font-size: 25px;
  margin: 40px;
}
.font {
  font-family: "Lato", sans-serif;
}
.main-header {
  font-size: 25px;
  padding-bottom: 40px;
}
.sub-header {
  font-size: 20px;
  margin-bottom: 20px;
  margin-top: 10px;
}
.list {
  font-size: 16px;
  padding-bottom: 10px;
}

.outer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.clothes-contaier {
  display: grid;
}
.item-container {
  width: 250px;
  margin: 10px;
  font-family: "Lato", sans-serif;
  text-align: center;
}
.item-image {
  width: 100%;
}
.item-name {
  font-weight: bold;
  padding-bottom: 2vh;
}
.item-brand {
font-size: 15px;
padding-bottom: 2vh;
}
.item-price {
font-size: 15px;
}
